In [1]:
! pip install requirements.txt

Looking in indexes: https://pypi.mirrors.ustc.edu.cn/simple/

ERROR: Could not find a version that satisfies the requirement requirements.txt (from versions: none)
ERROR: No matching distribution found for requirements.txt

# pandasÂ∏∏Áî®Êìç‰Ωú

ÂÆòÊñπÊñáÊ°£Ôºöhttps://www.pypandas.cn/docs/reference.html

## ‰∏ä‰∏ãÂêàÂπ∂

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
data_merge1=pd.read_csv("./data/1.csv")
data_merge2=pd.read_csv("./data/2.csv")
data_merge1,data_merge2

(   1  2  3
 0  a  a  w
 1  b  b  s
 2  c  c  d,
    1  2  3
 0  b  b  b
 1  b  b  b
 2  b  b  b)

In [4]:
# Áõ¥Êé•ÂêàÂπ∂
pd.concat([data_merge1, data_merge2])

   1  2  3
0  a  a  w
1  b  b  s
2  c  c  d
0  b  b  b
1  b  b  b
2  b  b  b


## Â∑¶Âè≥ÂêàÂπ∂

In [11]:
data_merge1=pd.read_csv("./data/3.csv")
data_merge2=pd.read_csv("./data/4.csv")

    1    3
0  Âº†‰∏â   90
1  ÊùéÂõõ   80
2  Áéã‰∫å  100

In [17]:
data_merge1#Ë°®1

    1  2
0  Âº†‰∏â  a
1  ÊùéÂõõ  b
2  Áéã‰∫å  c

In [18]:
data_merge2#Ë°®2

    1    3
0  Âº†‰∏â   90
1  ÊùéÂõõ   80
2  Áéã‰∫å  100

In [14]:
pd.merge(data_merge1,data_merge2,on="1")

    1  2    3
0  Âº†‰∏â  a   90
1  ÊùéÂõõ  b   80
2  Áéã‰∫å  c  100

## ÈÄöËøáÂàóË°®Á≠õÈÄâ

In [21]:
remove_ls=["Âº†‰∏â","Áéã‰∫å"]
df=pd.read_csv("./data/3.csv")
df

    1  2
0  Âº†‰∏â  a
1  ÊùéÂõõ  b
2  Áéã‰∫å  c

In [26]:
df[df['1'].isin(remove_ls)] #ÈÄâÂá∫Âú®ÂàóË°®‰∏≠ÁöÑÊï∞ÊçÆ

    1  2
0  Âº†‰∏â  a
2  Áéã‰∫å  c

In [27]:
df[~df['1'].isin(remove_ls)] #ÈÄâÂá∫Âú®‰∏çüôÖ‚ÄçÂàóË°®‰∏≠ÁöÑÊï∞ÊçÆ

    1  2
1  ÊùéÂõõ  b

## isin 

ËøîÂõûboolÂÄº

In [30]:
df['1'].isin(remove_ls)

0     True
1    False
2     True
Name: 1, dtype: bool